.mainText {
    font-size: 20px;
    font-weight: 500;
}

.priceTag {
    width: 50px;
}

.successMessage {
    width: 100%;
    color: #4f772d;
    background-color: #ecf39e;
    padding: 24px;
    border: 1px solid #4f772d;
}

.errorMessage {
    width: 100%;
    color: #c1121f;
    background-color: #ec8a85;
    padding: 24px;
    border: 1px solid #c1121f;
}

.formsContainer {
    padding: 48px 128px 64px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}